<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Display - Contact</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- Free Website Template by www.tooplate.com -->
    <link href="~/Content/tooplate_style.css" rel="stylesheet" type="text/css" />

    <script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
    </script>

    <link rel="stylesheet" type="text/css" href="~/Content/jquery.lightbox-0.5.css" />

    <!-- Arquivos utilizados pelo jQuery lightBox plugin -->
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery.lightbox-0.5.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.lightbox-0.5.css" media="screen" />
    <!-- / fim dos arquivos utilizados pelo jQuery lightBox plugin -->
    <!-- Ativando o jQuery lightBox plugin -->
    <script type="text/javascript">
$(function() {
    $('#map a').lightBox();
});
    </script>

</head>
<body id="sub">

    <div id="tooplate_wrapper_sub">
        <div id="tooplate_header">
            <div id="site_title"><h1><a href="/Home/index">Hotel Hub</a></h1></div>
            <div id="tooplate_menu">
                <ul>
                    <li><a href="/Home/index" class="current">Home</a></li>
                    
                </ul>
                <div id="search_box">
                    <form action="/User/Blog" method="post">
                        <input type="text" value="Search" name="city" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />

                        <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
                    </form>
                </div>
            </div> <!-- end of tooplate_menu -->
        </div> <!-- end of header -->

        <div id="tooplate_middle_sub">
            <div id="mid_title">
                Contact Information
            </div>
            </div> <!-- end of middle -->

        <div id="tooplate_main">
            <div class="col_w450 float_l">
                <div id="contact_form">

                    <h2>Contact Information</h2>

                    <form method="post" name="ContactUs" action="/Resturant/ContactUs">

                        <label for="author">Email:</label> <input type="text" id="email" name="email" class="required input_field" />
                        <div class="cleaner h10"></div>
                        <label for="author">Password:</label> <input type="password" id="pass" name="pass" class="required input_field" />
                        <div class="cleaner h10"></div>
                        <label for="author">Subject:</label> <input type="text" id="subject" name="subject" class="required input_field" />
                        <div class="cleaner h10"></div>
                        <label for="subject">Description:</label> <input type="text" class="validate-subject required input_field" name="msg" id="msg" />
                        <div class="cleaner h10"></div>

                        <input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l" />
                        <input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" />

                    </form>
                </div>
            </div>

            <div class="col_w450 float_r">
                <h4>Our Location</h4>
                <div id="map"><a href="~/Images/map_big.jpg" title="Our Location"><img width="300" height="200" src="~/Images/map_thumb.jpg" alt="Our Location" class="image_wrapper" /></a></div>
                <div class="cleaner h30"></div>

                <h4>Mailing Address</h4>
                <h6><strong>Our Company</strong></h6>
                124-860 Cras vitae aliquam leo, <br />
                Vestibulum non nunc quis, 15220<br />
                Class aptent taciti sociosqu ad<br /><br />

                <strong>Phone:</strong> 010-040-1520<br />
                <strong>Email:</strong>abc@gmail.com</div>

            <div class="cleaner"></div>
        </div> <!-- end of tooplate_main -->
    </div> <!-- end of wrapper -->

    <div id="tooplate_footer_wrapper">
        <div id="tooplate_footer">

            <div class="col_allw300">
                <h4>Our Pages</h4>
                <ul class="footer_list">
                    <li><a href="/Home/index" class="current">Home</a></li>
                    @{
                    if (Session["rid"] != null)
                    {

                    <li><a href="/Resturant/gallery">Gallery</a></li>
                    <li><a href="/Resturant/blog">View Profile</a></li>
                    <li><a href="/Resturant/editProfile">Edit Profile</a></li>
                    <li><a href="/Resturant/logout">logout</a></li>
                    }
                    else if (Session["uid"] != null && Session["id"] != null)
                    {
                    <li><a href="/Resturant/usersignin">Sign In</a></li>
                    <li><a href="/Resturant/signup">Sign Up</a></li>
                    }
                    }
                </ul>
            </div>
            
            <div class="col_allw300 col_last">

                <h4>About Us</h4>
               <div class="cleaner h10"></div>

                Copyright © @DateTime.Now.Year Company

            </div>

            <div class="cleaner"></div>

        </div> <!-- end of tooplate_footer -->
        <div class="cleaner"></div>
    </div>

</body>
</html>
