<!DOCTYPE html>
<html>

<body>
    <form action="/resturant/Test" enctype="multipart/form-data">
        Image: <input type="file" name="im" id="image" />

        <input type="submit" value="Send" id="submit" name="submit"  />
        <input type="reset" value="Reset" id="reset" name="reset" />


    </form>
</body>
</html>
